<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
       {% if story_id %}
            <title>Super Sprinter 3000 - Edit Story: {{ story_id }}</title>
        {% else %}
            <title>Super Sprinter 3000 - Add New Story</title>
        {% endif %}
</head>
<body>

        {% if story_id %}
            <h1>Super Sprinter 3000 - Edit Story: {{ story_id }}</h1>
        {% else %}
            <h1> Super Sprinter 3000 - Add New Story</h1>
        {% endif %}

    <form action="/list" method="POST">  <!-- This form will send it's data as a POST request to 'http://localhost:5000/edit-note' route when the user **submit** s the form-->

        <label for="id_of_story"></label><br>
        <input type=hidden id="id_of_story" name="id_of_story" value="{{ story_id }}" >

        <label for="story_title">Story Title</label><br>
        <textarea id="story_title" name="story_title" rows="1" cols="80">{{ story_title }}</textarea> <br><br>

        <label for="user_story">User Story</label><br>
        <textarea id="user_story" name="user_story" rows="4" cols="80">{{ user_story }}</textarea> <br><br>

        <label for="criteria">Acceptance criteria</label><br>
        <textarea id="criteria" name="criteria" rows="4" cols="80">{{ criteria }}</textarea> <br><br>

        <label for="business">Bussines Value</label><br>
        <input type="number" id="business" name="business" value= {{ business }}  min="100" max="1500" step="100" value="100"> <br><br>

        <label for="estimotion">Estimotion (h)</label><br>
        <input type="number" id="estimotion" name="estimotion" value= {{ estimotion }} min="0.5" max="40" step="0.5" value="0.5"> <br><br>

        <label for="plan_list" font size="20">Status</label><br>
        <select id="plan_list" name="plan_list" >
            <option selected>Planing</option>
            <option>TO DO</option>
            <option>In progress</option>
            <option>Review</option>
            <option>Done</option>
        </select>

        {% if story_id %}
            <p><button type="submit" name="action" value="update_row">UPDATE-> LIST</button>
        {% else %}
            <p><button type="submit" name="action" value="add_row">CREATE->LIST</button>
            <button type="submit" name="add_add" formaction="/story" >test</button> </p>
        {% endif %}

    </form>

</body>
</html>