<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super Sprinter 3000 - Add new Story</title>
</head>
<body>
    <h1> User Story manager - Add new Story</h1>

    <form action="/list" method="POST">  <!-- This form will send it's data as a POST request to 'http://localhost:5000/edit-note' route when the user **submit** s the form-->

        <label for="story_title">Story Title</label><br>
        <input type="text" id="story_title" name="story_title" style="font-size:15pt;width:650px;"><br><br>

        <label for="user_story">User Story</label><br>
        <textarea id="user_story" name="user_story" rows="5" cols="90">I am hilarious because...</textarea> <br><br>

        <label for="criteria">Acceptance criteria</label><br>
        <textarea id="criteria" name="criteria" rows="5" cols="90">I am hilarious because...</textarea> <br><br>

        <label for="business">Bussines Value</label><br>
        <input type="number" id="business" name="business" min="100" max="1500" step="100" value="100"> <br><br>

        <label for="estimotion">Estimotion (h)</label><br>
        <input type="number" id="estimotion" name="estimotion" min="0.5" max="40" step="0.5" value="0.5"> <br><br>

        <label for="plan_list" font size="20">Status</label><br>
        <select id="plan_list" name="plan_list" >
            <option selected>Planing</option>
            <option>TO DO</option>
            <option>In progress</option>
            <option>Review</option>
            <option>Done</option>
        </select>

        <button type="submit" name="action" value="add_row">Create and check the list</button>
        <button type="submit" name="add_add" formaction="/story" >Create one by one</button>  <!-- Let's allow the user to **submit** the form. --><!-- Let's allow the user to **submit** the form. -->
    </form>

</body>
</html>