<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super Sprinter 3000</title>

     <style>
        td {
            border: 1px solid #999;
            padding: 0.1em 1em;
        }
    </style>
</head>
<body>
        <table>
            <tr>
                <td>ID</td>
                <td>Story Title</td>
                <td>User Story</td>
                <td>Acceptance criteria</td>
                <td>Business value</td>
                <td>Estimation</td>
                <td>Status</td>
                <td>Update</td>
                <td>Delete</td>
            </tr>
            {% for row in list_data %}
                <tr>

                    <td>{{ row.0 }}</td>
                    <td>{{ row.1 }}</td>
                    <td>{{ row.2 }}</td>
                    <td>{{ row.3 }}</td>
                    <td>{{ row.4 }}</td>
                    <td>{{ row.5 }}</td>
                    <td>{{ row.6 }}</td>
                    <td>Update</td>
                    <td>
                        <form action="/list" method=post>
                            <input type=hidden name="action" value="del_row">
                            <input type=hidden value="{{ row.0 }}" name="delete_story">
                            <input type=submit value=&#10006;>
                        </form>
                    </td>
                </tr>

            {% endfor %}
        </table>


<a href="/story">Edit form</a>
</body>
</html>