<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super Sprinter 3000</title>

     <style>

        th {
            border: 1px solid #999;
            padding: 0.1em 1em;
            word-wrap: break-word
            width:330px;
        }
        td {
            border: 1px solid #999;
            padding: 0.1em 1em;
            word-wrap: break-word
            width:330px;
        }


    </style>
</head>
<body>
        <table style="table-layout: fixed" >
            <tr>
                <th>ID</th>
                <th>Story Title</th>
                <th>User Story</th>
                <th>Acceptance criteria</th>
                <th>Business value</th>
                <th>Estimation</th>
                <th>Status</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for row in list_data %}
                <tr>

                    <td>{{ row.0 }}</td>
                    <td>{{ row.1 }}</td>
                    <td>{{ row.2 }}</td>
                    <td>{{ row.3 }}</td>
                    <td>{{ row.4 }}</td>
                    <td>{{ row.5 }}</td>
                    <td>{{ row.6 }}</td>
                    <td>
                        <a href="{{ url_for('update', story_id = row.0) }}">Update</a>
                    </td>
                    <td>
                        <form action="/list" method=post>
                            <input type=hidden name="action" value="del_row">
                            <input type=hidden value="{{ row.0 }}" name="delete_story">
                            <input type=submit value=&#10006;>
                        </form>
                    </td>
                </tr>

            {% endfor %}
        </table>


<a href="/story">Edit form</a>
</body>
</html>